* {
    margin: 0; padding: 0; box-sizing: border-box;
}

/*
    Root
*/
:root {
    --primary: #141414;
    --light: #f3f3f3;
    --dark: #686866;
}

/* 
 * Default CSS
*/
body {
    background-color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--dark);
}

ul {
    list-style: none;
}

a {
    color: var(--light);
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 24px;
}

.main-container {
    padding: 50px;
}

/* ---------- display property ----------- */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}


/* 
    Heading CSS
*/
.main-heading {
    padding: 60px 0px 0px;
    margin: 20px 0px;
}


/* 
    --- Header ---
*/
header {
    padding: 20px 0px 0px 20px;
    background-color: var(--primary);
    align-items: top;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/* --- logo --- */
.netflixLogo {
    padding: 0px 0px 0px 30px;
}

.netflixLogo img {
    width: 100px;
    height: 35px;
}

/* --- main menu --- */
.main-menu ul li {
    padding: 0px 5px 0px;
}

.main-menu ul a {
    text-align: start;
}

/* --- sub menu --- */
.sub-menu ul {
    justify-content: end;
    padding: 0px 50px 0px 10px;
}

.sub-menu ul li {
    padding: 0px 6px 0px;
    font-weight: 500;
    font-size: 17px;
}


/* 
    Popular on Movie section && default CSS section
*/
.popular-movie {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.popular-movie a img {
    transition: .3s;
}

.popular-movie a img:hover {
    transform: scale(1.4);
}


/* 
    Link section
*/
.link {
    padding: 50px;
}

.link a {
    color: var(--dark);
}

/* --- social icon --- */
.social-icon a {
    width: 48px;
    padding: 10px;
    font-size: 32px;
}

/* --- sub link --- */
.sub-link {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: 16px 0px;
}

.sub-link a:hover {
    text-decoration: underline;
}


/* 
    Footer
*/
footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
}

footer p {
    margin: 16px 0px;
}